
@model Loginapplication.Models.Technologies
<h2>Create</h2>

@using (Html.BeginForm("Create", "Technology", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- The Modal -->
    <div class="modal fade" id="idAddEditTechModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="events" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" >Submit</button>
                </div>

            </div>
        </div>
    </div>


}
