@model Loginapplication.Models.Technologies

@*@{
    ViewBag.Title = "Edit";
}*@
<br />
<h2>Edit Technology</h2>
<form method="post">
    <div class="form-group">
        <label class="control-label" for="TechnologyName">Email address</label>
        <input type="text" class="form-control" id="TechnologyName" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label class="control-label" for="TechnologyDescription">Email address</label>
        <input type="email" class="form-control" id="TechnologyDescription" placeholder="Enter email">
    </div>
    <br />
    <button type="submit" class="btn btn-default">Submit</button>
</form>
