@model Loginapplication.Models.Technologies

@*@{
    ViewBag.Title = "Index";
}*@
<h2 class="text-center">Technologies</h2>
<br />
<div class="container">
            <a href="/Technology/Create">Add New Technology</a>
            <br />


            <table class="table table-responsive table-responsive-md table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Material</td>
                        <td>Quantity</td>
                        <td>Unit price</td>
                        <td>Avg Price</td>
                        <td>Import/Export</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >Acrylic (Transparent)</td>
                        <td>25</td>
                        <td>$2.90</td>
                        <td>$2.90</td>
                        <td>Import</td>
                    </tr>
                    <tr>
                        <td >Plywood (Birch)</td>
                        <td>50</td>
                        <td>$1.25</td>
                        <td>$2.90</td>
                        <td>Export</td>
                    </tr>
                    <tr>
                        <td >Laminate (Gold on Blue)</td>
                        <td>10</td>
                        <td>$2.35</td>
                        <td>$2.90</td>
                        <td>Import</td>
                    </tr>
                </tbody>
            </table>
       
</div>
<br />
